<div class="row">
    <div class="col-8">
        <h1>{{course.name}}</h1>
        <p>{{subject.title}}</p>
        <p>{{subject.body}}</p>
        <p>Date: {{generateDate date "YYYY-MM-DD"}}</p>
        <img src="/uploads/{{course.file}}" alt="">
    </div>
</div>
